/* moises*/
/* styling tab gallery */
/* The grid: Four equal columns that floats next to each other */
.columnM {
  float: left;
  width: 25%;
  padding:10px;
  /*padding: 150px;*/
  
}

/* Style the images inside the grid */
.columnM img {
  opacity: 0.8;
  cursor: pointer;
  width:100%;
   }

.columnM img:hover {
  opacity: 1;
}

.rowM{
	overflow: hidden;
}
/* Clear floats after the columns */
.rowM:after {
  content: "";
  /*display: table;*/
  display:flex;
  clear: both;
    
  }

/* The expanding image container (positioning is needed to position the close button and the text) */
.container {
  position: relative;
  display: none;
}

/* Expanding image text */
#imgtext {
  position: absolute;
  bottom:0px;
  left: 25px;
  color: black;
  font-size: 20px;
}

/* Closable button inside the image */
.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font-size: 35px;
  cursor: pointer;
}
/*here ends tab gallery*/

/* guess box interrogation*/
.guessAns { 
	font-family: 'Sofia';
	font-size: 75px;
}
/*guess text yellow red box*/
.guessTextBox {
  width: 205px;
  height: 150px;
  padding: 20px;
  border: 8px solid red;
  background: yellow;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 15px;
  text-align:center;
}

.guessInterface {
	display: inline-block;
	width: 205px;
	height: 200px;
	padding-left: 15px;
	
}

.footerM {
	
	text-align:center;
	
}
.headerM {
	
	text-align:center;
	font-family: "sofia";
	
}

.logoM{
	float:left;
	padding-left: 25px;
}

.Pmoi{
	text-align: center;
}
.Rmoi{
	
}


.wrapperM{
	width:1200px;
	margin:auto;
	
}


@media(max-width: 768px) {
 .columnM{
	float: none;
	padding:10px;
  }
  
 .wrapperM {
	width:768px;
	margin:auto;
	
}

}
.Rmoi2{
	width: 80%;	
}
@media(max-width: 350px) {
 .columnM{
    float: none;
	padding:10px;


  }
  .rowM:after{
	  
	  float:none;
	  padding:10px;
	  margin: auto;
	  
	  
  }
  
  .wrapperM{
	width:350px;
	margin:auto;
	
}
}
.Rmoi2{
	width: 90%;	
	text-wrap: wrap;
}

/* zolo */

body{
    background-color: rgba(11, 4, 31, 0.9);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#container{
    position: relative;
    background: rgb(59, 59, 112) ;
    width: 430px;
    height: 500px;
    top: 50px;
    left: 500px;
    padding: 20px 30px;
    border-radius: 50px;

}

.title{
    font-size: 30x;
    font-weight: bold;
    text-align: center;
}

.move-icon{
    height: 70px;
}

.move-button{
background-color: transparent; 
border: 3px solid white;
width: 130px;
height: 130px;
border-radius: 70px;
margin-right: 10px;
cursor: pointer;

}

.result{
    font-size: 25px;
    font-weight: bold;
    margin: 50px;
}

.reset-score-button{
    background-color: rgb(200, 0, 0);
    color: white;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 8px;
    margin-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    transition: opacity 0.15s;
    vertical-align: top;
}

.reset-score-button:hover{
    opacity: 0.8;
}

.reset-score-button :active{
    opacity: 0.5;
}
.wrapper {
	
	text-align:center;
}

/*june*/
/*june homepage*/

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
	margin:50px;
}

.gallery .image {
    margin-bottom: 20px;
    cursor: pointer;
	border: 1px solid black;
}

#reheasal{
text-align:center;
}

#title1{
	font-size: 40px;
    font:bold;
}	

#desbrief{
	margin-left:60px;
}

#catch{
	font-family:"Jersey 10", sans-serif;
	color:red;
	font-size:35px;
}

#ABC{
	font-family:"Jersey 10", sans-serif;
	color:red;
	font-size:35px;
}

/*june bookingpage*/

@media screen and (max-width:1000px) {
#myForm{
   text-align:left;  
}}

.wrapper{
	font-family: "Roboto Slab", serif;
}


#totalpricej{
	color:red;
}

#totalpricetitle{
	color:red;
}

/*june all page*/
body {
   background-image: url("../images/sky-min.jpg");/*Reference: image originally taken from Free-pik*/
   background-repeat:no-repeat;
   background-size:cover;
   color: black; 
}

nav{
	border: 1px solid black;
}

.tagline{
	font-family: "Honk", system-ui;
}


	







